# GIT
.git

# Java
*.class

# packages 
*.jar
*.war
*.ear

# IDEA
*.iml
.idea
persistence/src/test/resources/BeerGameDBTest.db
persistence/src/test/resources/BeerGameDBTest.db-journal
persistence/src/main/resources/BeerGameDB.db
persistence/src/main/resources/BeerGameDB.db-journal

*.iws
*.ipr

# Eclipse
.settings/
.buildpath
.classpath
.project

# OS
.DS_Store
Thumbs.db

# Maven
**/target/
/target/
*/target/*

# Gradle
.gradle
!gradle-wrapper.jar

# build
out
build
bin

# other
*.swp
*.bak

tokens